html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

input[type="submit"]{
  color: white;
}

#navbar{
  display: flex;
  height: 15vh;
  background-color: rgb(235, 197, 8);
  padding-left: 1em;
  padding-right: 1em;
}

#navbar>a {
  height: 100%;
}

#navbar>div{
  flex-basis: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

#navbar>div:first-child,#navbar>div:last-child{
  flex-grow: 1;
}

#navbar>div:nth-child(2){
  flex-grow: 2;
}

#navbar>div:nth-child(2)>a{
  height: 100%;
}

#navbar img {
  height: 90%;
  min-width: 15em;
}

#navbar li{
  margin-left: 0.75em;
}

.one {
  width: 2.5em;
}

.two {
  width: 1.5em;
}

.three {
  width: 2em;
}

.navi {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 1em;
  transition: all 300ms ease;
  border-radius: 3px;
}

.navi div {
  align-items: center;
  height: 0.3em;
  background-color: black;
  margin: 0.2em 0;
  border-radius: 25px;
  transition: all 300ms ease;
}

.navi:hover {
  background-color: white;
}

.navi:hover div{
  width: 2em;
}

#searcharea{
  display: flex;
  margin-left: auto;
  align-items: center;
}

#searchbar::placeholder {
  color: transparent;
  transition: all 500ms ease;
}

input:focus::placeholder {
  color: black !important;
  transition: all 500ms ease;
}

#searchbar {
  width: 0;
  padding: 0;
  margin-top: 0.5em;
  margin-right: 1em;
  background-color: white;
  border-bottom: 1px solid white;
  transition: all 500ms ease;
}

#searchbar:focus{
  width: 25em;
}

.srch {
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  margin-left: auto;
  font-size: 2em;
  border-radius: 3px;
  transition: all 300ms ease;
}

.srch:hover {
  background-color: white;
  transition: all 300ms ease;
}

#searcharea:hover > #searchbar {
  width: 25em;
  padding: 0.25em;
  transition: all 500ms ease;
}

#login {
  display: flex;
  position: absolute;
  top: 1.5em;
  left: 1.5em;
}

#login>a{
  width: 5em;
  height: 5em;
  color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
}

#login>a:hover{
  background-color: white;
  color: black;
  transition: all 300ms ease;
}

#aside {
  height: 100%;
  background-color: rgb(30,30,30);
  position: absolute;
  top: 0;
  z-index: 1;
  max-width: 0;
  width: 0;
  padding-top: 3em;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
}

#aside span {
  cursor: pointer;
  position: absolute;
  top: 0.5em;
  right: 1em;
  color: white;
  font-size: 1.5em;
  z-index: 2;
  height: 1.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease;
  border-radius: 5px;
}

#aside a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  height: 3em;
  padding-left: 0.5em;
  width: 16em;
  margin: 1.5em auto;
  transition: all 500ms ease;
  border-radius: 5px;
}

#aside a:hover, #aside span:hover {
  color: black;
  background-color: white;
}

#aside img {
  height: 6em;
  width: 6em;
  border-radius: 50%;
  display: block;
  margin: max(1em, 20vh) auto 1em auto;
}

#welcomecard{
 margin-left: 6.5em; 
}

#content>p:first-child{
  font-size: 2.5vmax;
}

#recentAlums{
  font-size: 4vmax;
}

.carousel-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 4em;
  padding-top: 0;
}

.carousel-container>.card{
  flex-grow: 3;
  margin: 2em;
  box-shadow: 1px 8px 10px black;
  transition: all 300ms ease-in-out;
}

.carousel-container>.card:hover{
  cursor: pointer;
  box-shadow: 0 0 0 rgb(235, 197, 8);
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}

.carousel-container img{
  height: 75vmin;
}

.carousel-container .card-content {
  background-color: rgb(235, 197, 8);
  height: 7vmax;
  padding: auto;
}

.carousel-container .card-content>h5 {
  color: black;
  font-size: 4vmin;
  margin: 0;
}

h5{
  font-weight: 500;
}

#flashedmessage {
  background-color: transparent;
  box-shadow: none;
  z-index: 1;
  padding: 0;
  position: fixed; 
  width: 40vmin;
}

#flashedmessage li{
  margin: 1em 0;
  z-index: 3;
  height: 10vmin;
  width: 40vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

#flashedmessage span{
  position: absolute;
  right: 1em;
  cursor: pointer;
}

#aboutuscard {
  width: 35vw;
  padding: 0 2em;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  margin: 0;
  height: 50vh;
  transition: all 500ms ease;
}

#aboutuscard>* {
  visibility: hidden;
  transition: all 200ms ease;
}

#aboutuscard h2{
  font-size: 3vmax;
}

#aboutus:hover > #aboutuscard{
  opacity: 1;
}

#aboutus:hover>#aboutuscard>*{
  visibility: visible;
}

#user{
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: row;
}

#user>div{
  flex-grow: 2;
  display: flex;
}

#details{
  padding: 0 2em;
  flex-direction: column;
}

#details h5 {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

#userimg{
  justify-content: center;
}

#userimg>img{
  margin: auto;
  height: 70vh;
  width: auto;
}

#socialInfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0.5em;
}

#socialInfo>span{
  display: inline-block;
}

#socialInfo>div{
  height: 6em;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

#socialInfo a{
  margin: auto;
}

#resultListing{
  margin: auto;
}

#resultListing a{
  display: flex;
  height: 16em;
  margin-top: 2em;
  padding: 2em;
  transition: all 300ms ease;
}

#resultListing a:hover{
  transform: scale(1.1);
}

#resultListing div{
  display: flex;
  flex-direction: column;
  text-align: left;
  color: black;
  font-size: 20px;
  border-left: 1px solid rgba(61, 61, 61, 0.5);
}

#resultListing div *{
  margin: auto 3em;
}

#resultListing img{
  height: 12em;
  width: 12em;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-right: 2em;
}

footer {
  margin-top: 6em;
  padding: 3em 0;
  background-color: rgb(30,30,30);
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 2vmin;
}

footer>div{
  flex-basis: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer>div *{
  margin: auto;
}

footer>div>img{
  width: 12em;
}

footer>div>a{
  color:rgb(235, 197, 8);
}

footer>div>a:hover{
  text-decoration: underline;
}

footer>div>span:nth-child(1){
  color: white;
}

footer>div>span{
  color:rgb(235, 197, 8);
}

#return {
  position: fixed;
  padding: 0.5em;
  bottom: 2em;
  right: 3em;
  opacity: 0.5;
  transition: all 300ms ease;
}

#return:hover{
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .carousel-container img{
    height: 50vmin;
  }

  .card-content{
    margin: 5px auto;
    height: 7vmax;
  }

  #aboutuscard{
    width: 45vw;
  }
}

@media screen and (max-width: 1024px) {
  .carousel-container img{
    height: 35vmin;
  }

  #aboutuscard{
    width: 50vw;
  }
}

@media screen and (max-width: 896px) {

  #user{
    flex-direction: column;
    height: 90vh;
  }

  #details{
    order: 2;
  }

  #userimg{
    order: 1;
    height: 40vh;
  }

  #userimg img{
    height: 90%;
  }

  #welcomecard h3{
    font-size: 2em;
  }

  .carousel-container img{
    height: 80%;
  }

  .carousel-container {
    flex-direction: column;
  }

  .carousel-container .card{
    width: 75%;
    margin: 2em auto;
  }

  #aboutuscard{
    width: 100%;
  }

  #aboutuscard p{
    font-size: 3vmin;
  }

  footer{
    flex-direction: column;
    font-size: 3.5vmin;
  }

  footer>div{
    margin: 2em auto;
  }

  footer>div>img{
    width: 10em;
  }
}

@media screen and (max-width: 480px){
  #navbar>div>a>img{
    height: 80%;
  }

  .carousel-container .card{
    margin: 4em auto;
  }

  .carousel-container .card img{
    height: 100%;
  }
}