{% extends "layout.html" %}
{% block title %}Advanced Search{% endblock %}
{% block page %}Advanced Search{% endblock %}
{% block nav %}
<div onclick="asideDisplay()">
    <div class="navi" onclick="asideDisplay()">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </div>
 </div>
 <div style="justify-content: center;">
    <a href="/"><img class="responsive-img" src="/static/pictures/center logo.png" alt="UCE Logo"></a>
 </div>
 <div></div>
{% endblock %}

{{ super() }}

{% block content %}
<main class="container center">
    <h4>Advanced Search</h4>
    <div class="container">
        <form class="card col s12" method="post" action="/advsearch" style="padding: 1em;">
            <div class="row">
                <div class="input-field col s12">
                    {{ form.first_name(class="validate", autofocus=true) }}
                    <label>First Name</label> 
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.last_name(class="validate") }}
                    <label>Last Name</label> 
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="name" class="validate">
                        <option selected disabled>Please Choose An Option</option>
                        {% for programme in programmes %}
                        <option value="{{ programme }}">{{ programme }}</option>
                        {% endfor %}
                    </select>
                    <label>Programme</label> 
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="degree" class="validate">
                        <option selected disabled>Please Choose An Option</option>
                        {% for degree in degrees %}
                        <option value="{{ degree }}">{{ degree }}</option>
                        {% endfor %}
                    </select>
                    <label>Degree</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="graduation_year" class="validate">
                        <option selected disabled>Please Choose An Option</option>
                        {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                    <label for="year">Graduation Year</label>
                </div>
            </div>
            
            <button class="btn waves-effect waves-light green" style="display: flex; align-items: center; margin: auto;">
                Search
                <i class="material-icons" style="margin-left: 0.5em;">search</i>
            </button>
        </form>
    </div>
</main>
{% endblock %}
