{% extends "layout.html" %}
{% block title %}UCE Alumni Gallery{% endblock %}
{% block nav %}
<div>
    <div class="navi">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </div>
</div>
<div style="justify-content: center;">
    <a href="/"><img class="responsive-img" src="/static/pictures/center logo.png" alt="UCE Logo"></a>
</div>
<div>
    <form id="searcharea" method="#" action="#" >
        <input id="searchbar" type="text" placeholder="Search for an Alumni Member">
        <i class="fa fa-search srch"></i>
    </form>
    
    
</div>

{% endblock%}

{{ super() }}

{% block bg %}
<div class="parallax-container valign-wrapper" style="height: 85vh;">
    <div class="row" style="margin-left: 6.5em;">
        <div class="col s6 card" style="border-radius: 5px; background-color: rgba(255, 255, 255, 0.6); margin-top: 6em;">
            <div class="container center">
                <div class="row">
                    <h3>Alumni Gallery</h3>
                    <div class="divider white"></div>
                    <h3>The University of Computing and Engineering</h3>
                </div>
            </div>
        </div>
        <div class="col s6"></div>
    </div>
    <div class="parallax">
        <img src="/static/pictures/bg.jpg" alt="Home Background">
    </div>
</div>
{% endblock %}
{% block content %}  


<p style="text-align: center;">Search for Alumni Members by common programmes, departments, faculties, etc.
    You can connect with all of your fellow graduates with the click of a button.</p>

<h3 style="text-align: center;">Welcome our most recently joined Alumni Members</h3>
<div class="carousel-container">
    
    {% for user in users %}
        <div class="card">
            <div class="card-image">
                <img src="/static/Userpics/{{user.first_name}} {{user.last_name}}.jpg" alt="{{user.first_name}} {{user.last_name}}">
            </div>
            <div class="card-content">
                <h5 style="text-align: center;">{{user.first_name}} {{user.last_name}}</h5>
            </div>
        </div>
    {% endfor %}
   
{% endblock %}