{% extends "layout.html" %}
{% block title %}UCE Alumni Gallery{% endblock %}
{% block page %}UCE Alumni Gallery{% endblock %}
{% block nav %}
<ul id="nav-mobile" class="left">
    <li><a href="/">Home</a></li>
    <li><a href="/users">Alumni Members</a></li>
    <li><a href="/static/users">Users JS</a></li>
</ul>
<ul class="right">
    <li><a href="/logout">Logout</a></li>    
</ul>
{% endblock%}

{{ super() }}

{% block bg %}

<div class="parallax-container valign-wrapper" style="height: 100vh;">
    <div class="row">
    <div class="col s4 card" style="border-radius: 5px; background-color: rgba(255, 255, 255, 0.5); margin-top: 6em;">
        <div class="container center">
            <div class="row" style="padding-top: 3em;">
                <img class="responsive-img circle" src="/static/pictures/Logo.png" alt="UCE Logo">
            </div>
            <div class="row">
                <h3>Alumni Gallery for The University of Computing and Engineering</h3>
            </div>
        </div>
    </div>
    </div>
    <div class="parallax">
        <img class="responsive-img" src="/static/pictures/bg.jpg" alt="Home Background">
    </div>
</div>
{% endblock %}
{% block content %}  


<p>Search for Alumni Members by common programmes, departments, faculties, etc.
    You can connect with all of your fellow graduates with the click of a button.</p>

<div style="display: block; background-color: aqua; height: 80em;">test</div>
<div>test2</div>
{% endblock %}