<!doctype html>
<html>
  <head>
  
    <!--link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"-->
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav id="navbar">
      <div onclick="asideDisplay()">
        <div class="navi" onclick="asideDisplay()">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
      </div>
      <div style="justify-content: center;">
          <a href="/"><img class="responsive-img" src="/static/pictures/center logo.png" alt="UCE Logo"></a>
      </div>
      <div>
          <form id="searcharea" method="redirect();return false;" action="" >
              <input id="searchbar" type="search" placeholder="Search for an Alumni Member">
              <button type="submit" style="background: none; border: none;"><i class="fa fa-search srch" onclick="form.submit"></i></button>
          </form>
          
          
      </div>
    </nav>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <nav class="white black-text" style="padding: 10px">
      <div class="nav-wrapper">
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
      </div>
    </nav>
    {% endif %}
    {% endwith %}
    
    {% block bg %}{% endblock%}
    <div id="content" style="padding-top: 1em;">{% block content %}{% endblock %}</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/main.js"></script>
  </body>
</html>
