<!doctype html>
<html>
  <head>
  
    <!--link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"-->
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <!-- Preload Home images -->
    <link rel="prefetch" as="image" href="/static/pictures/bg.jpg">
    <link rel="prefetch" as="image" href="/static/pictures/2ndbg.jpg">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <a name="top"></a>
    <nav id="navbar">
      {% block nav %}
      
      {% endblock%}
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <nav id="flashedmessage" class="white black-text">
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
        <span onclick="removeFlash()">✕</span>
      {% endfor %}
      </ul>
    </nav>
    {% endif %}
    {% endwith %}
    
    {% block bg %}{% endblock%}
    <div id="content" style="padding-top: 1em;">{% block content %}{% endblock %}</div>
    {% block aftercontent %}{% endblock %}
    <aside id="aside">
      <span onclick="asideDisplay()">✕</span>
      <a href="/">Home</a>
      <a href="/#recentAlums">Most Recent Alumni</a>
      <a href="/#aboutus">About Us</a>
      <a href="/#socials">Check Out Our Socials</a>
      <a href="/logout">Logout</a>
      <img src="/static/pictures/head.png" alt="HeadLogo">
    </aside>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/main.js"></script>
  </body>
</html>
