{% extends "layout.html" %}
{% block title %}Signup{% endblock %}
{% block page %}Signup{% endblock %}

{% block nav %}{% endblock %}

{{ super() }}

{% block content %}
<main class="container">
    <form class="card" method="post" action="/signup" style="padding: 1em;">
        <div class="row">
            <div class="col s12">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab col s3"><a href="#personal-info">Personal</a></li>
                    <li class="tab col s3"><a href="#education-info">Education</a></li>
                    <li class="tab col s3"><a href="#social-info">Social</a></li>
                  </ul>
                <div id="personal-info" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.first_name(class="validate", autofocus=true) }}
                            <label>First Name</label> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.last_name(class="validate") }}
                            <label>Last Name</label> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.email(class="validate") }}
                            <label>Email</label> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.password(class="validate", id="password", onkeyup="validatePassword()") }}
                            <label>Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.confirmpwd(class="validate", id="confirm_password", onkeyup="validatePassword()") }}
                            <label>Confirm Password</label> 
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn green" href="#education-info" onclick="E_Tab()">Continue</a>
                </div>


                <div id="education-info" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.programme(class="validate") }}
                            <label>Programme</label> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="degree" required>
                                <option value="" disabled selected> - Any - </option>
                                <option value="1">1</option>
                                {% for degree in degrees %}
                                <option value="{{degree}}">{{degree}}</option>
                                {% endfor %}
                            </select>
                            <label>Degree</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="department" required>
                                <option value="" disabled selected> - Any - </option>
                                <option value="1">1</option>
                                {% for department in departments %}
                                <option value="{{department}}">{{department}}</option>
                                {% endfor %}
                            </select>
                            <label>Department</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="year" id="year" required></select>
                            <label for="year">Graduation Year</label>
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn green" href="#social-info" onclick="S_Tab()">Continue</a>
                </div>

                <div id="social-info" class="col s12">
                    <div class="section center green-text">Link Your Social Media Accounts To Connect With Each Other</div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fa fa-facebook prefix"></i>
                            <input type="url" name="fb">
                            <label for="fb">Facebook</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fa fa-instagram prefix"></i>
                            <input type="url" name="ig">
                            <label for="ig">Instagram</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fa fa-linkedin prefix"></i>
                            <input type="url" name="in">
                            <label for="in">LinkedIn</label>
                        </div>
                    </div>

                    {{form.submit}}
                    
                </div>
            </div>
        </div>
    </form>
</main>

{% endblock %}