{% extends "layout.html" %}
{% block title %}Alumni Members{% endblock %}
{% block page %}Alumni Members{% endblock %}
{% block nav %}
<ul id="nav-mobile" class="left">
   <li><a href="/">Home</a></li>
   <li><a href="/users">Alumni Members</a></li>
   <li><a href="/static/users">Users JS</a></li>
</ul>
<ul class="right">
   <li><a href="/logout">Logout</a></li>    
</ul>
{% endblock %}

{{ super() }}

{% block content %}
   <!--This page is to be rendered with a list of all users--->
   {% for user in users %}
      
   {% endfor%}
{% endblock %}