{% extends "layout.html" %}
{% block title %}Alumni Members{% endblock %}
{% block page %}Alumni Members{% endblock %}
{% block nav %}
<div onclick="asideDisplay()">
   <div class="navi" onclick="asideDisplay()">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
   </div>
</div>
<div style="justify-content: center;">
   <a href="/"><img class="responsive-img" src="/static/pictures/center logo.png" alt="UCE Logo"></a>
</div>
<div>
   <form id="searcharea" method="redirect();return false;" action="" >
       <input id="searchbar" type="search" placeholder="Search for an Alumni Member">
       <button type="submit" style="background: none; border: none;"><i class="fa fa-search srch" onclick="form.submit"></i></button>
   </form>
</div>
{% endblock %}

{{ super() }}

{% block content %}
{% if results %}
<div>
   <h3 class="center">List of Alumni Members</h3>
</div>
<div class="container card" id="resultListing">
   {% for user in results %}
   <a href="/profile/{{user.pid}}" class="usr">
      <img class="responsive-img circle" src="/static/Userpics/Aaron Solomon.jpg" alt="{{user.first_name}} {{user.last_name}}">
      <span>{{user.first_name}} {{user.last_name}}</span>
      <span>{{user.graduation_year}}</span>
   </a>   
   <div class="divider"></div>
   {% endfor%}
</div>
   
{% else %}

{% endif %}
{% endblock %}